body {

  background-attachment: fixed;
}
h2 {
  font-family: 'Pangolin', cursive;
}
button {
  background: linear-gradient(to bottom,rgba(120, 107, 175, .5), rgba(40, 140, 255,.3)) ;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  border-radius:20px;
  text-decoration: none;	
  font-family: Titillium, Arial, sans-serif;
  font-weight: 100%;
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,1);
  text-transform:uppercase;
  font-size: .9em;
  letter-spacing: .1em;
  margin-right: 5px;
  margin-left: 20px;
  cursor: pointer;
}
input {
  margin: 5px;
  border-radius:20px;
  cursor: pointer;
  padding: 10px;
}
main {
  background-color: rgba(10, 15, 20, 0.5);
  margin: 0 auto;
  width: 100%;
    height:1080px;
}
.img {
  float: right;
  width: 30%;
  margin-top: -250px;
  margin-right: 10px;
}
h1 img {
  width: 30px;
  margin-bottom: -5px;
}
h1, h2 {
  text-align: center;
}


