/* сам квадрат для товара */
.product-wrapper {
	width: 100%;
	float: left;
	display: inline-block;
    vertical-align:top;
}

@media only screen and (min-width: 450px) {
	.product-wrapper {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.product-wrapper {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1000px) {
	.product-wrapper {
		width: 25%;
	}
}

/* "внутренность квадрата" */
.product{
	display: block;
	border: 1px solid #b5e9a7;
	border-radius: 3px;
	position: relative;
	background: #000;
	margin: 10px 10px 10px 10px;
	text-decoration: none;
	color: #474747;
	z-index: 0;
	height: 300px;
}

/* стиль для списка */
/* бесполезен */
.products { 
	list-style: none;
	margin: 0 0 0 0;
	padding: 0;
}

.product-photo {
	position: relative;
	padding-bottom: 100%;
	overflow: hidden;
}   

.product-photo img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	transition: transform .4s ease-out;
}